<div x-data="{ open: false }" class="flex lg:h-screen bg-transparent flex-col justify-between border-e lg:w-72">
  <!-- Toggle Button for Mobile -->
  <div class="flex items-center lg:hidden">
    <div class="flex-none">
      <button class="mobile-toggle underline ml-4 mt-4" :class="{'hidden': open}" @click="open = true">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50">
          <path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"></path>
        </svg>
      </button>
    </div>
    <div class="flex-grow ml-4 mt-2" :class="{'hidden': open}">
      <span class="font-bold text-mainBlack text-lg">Air Quality Dashboard</span>
    </div>
  </div>

  <!-- Sidebar Content -->
  <div :class="{'block': open, 'hidden': !open, 'lg:block': true}" class="px-4 py-5">
    <div class="flex justify-between items-center border-b-2 pb-4 px-2">
      <span class="grid lg:w-full lg:text-center font-bold text-mainBlack text-lg">Air Quality Dashboard</span>
      <button @click="open = false" class="ml-4 lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 30 30">
          <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
        </svg>
      </button>
    </div>

    <ul class="mt-6 space-y-2 ml-2">
      <li class="cursor-pointer" onclick="location.href='/'">
        <div class="flex <%= activePath === "dashboard" ? "bg-white" : "hover:bg-gray-200"  %> rounded-xl drop-shadow-md p-2">
          <div class="flex-none <%= activePath === "dashboard" ? "bg-mainTeal" : "bg-white"  %> rounded-2xl p-2 w-9">
            <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-auto <%= activePath === "dashboard" ? "fill-white" : "fill-mainTeal"  %>">
              <g clip-path="url(#clip0_83_1917)">
                <path d="M7.66277 2.9676C7.61915 2.92588 7.56112 2.90259 7.50075 2.90259C7.44039 2.90259 7.38236 2.92588 7.33874 2.9676L1.94519 8.12004C1.92228 8.14195 1.90406 8.16828 1.89162 8.19744C1.87919 8.22659 1.87279 8.25797 1.87283 8.28967L1.87195 13.1254C1.87195 13.374 1.97072 13.6125 2.14654 13.7883C2.32235 13.9641 2.56081 14.0629 2.80945 14.0629H5.62488C5.7492 14.0629 5.86842 14.0135 5.95633 13.9256C6.04424 13.8377 6.09363 13.7185 6.09363 13.5942V9.60978C6.09363 9.54762 6.11832 9.48801 6.16227 9.44406C6.20623 9.4001 6.26584 9.37541 6.328 9.37541H8.67175C8.73391 9.37541 8.79352 9.4001 8.83748 9.44406C8.88143 9.48801 8.90613 9.54762 8.90613 9.60978V13.5942C8.90613 13.7185 8.95551 13.8377 9.04342 13.9256C9.13133 14.0135 9.25056 14.0629 9.37488 14.0629H12.1891C12.4378 14.0629 12.6762 13.9641 12.852 13.7883C13.0279 13.6125 13.1266 13.374 13.1266 13.1254V8.28967C13.1267 8.25797 13.1203 8.22659 13.1078 8.19744C13.0954 8.16828 13.0772 8.14195 13.0543 8.12004L7.66277 2.9676Z" />
                <path d="M14.3824 7.15381L12.191 5.05732V1.87598C12.191 1.75166 12.1416 1.63243 12.0537 1.54452C11.9658 1.45661 11.8465 1.40723 11.7222 1.40723H10.316C10.1917 1.40723 10.0724 1.45661 9.98452 1.54452C9.89661 1.63243 9.84722 1.75166 9.84722 1.87598V2.81348L8.15035 1.19102C7.99156 1.03047 7.75543 0.938477 7.50025 0.938477C7.24596 0.938477 7.01041 1.03047 6.85162 1.19131L0.620177 7.15322C0.437951 7.329 0.415099 7.61816 0.580919 7.80859C0.622559 7.85666 0.673545 7.89575 0.730772 7.92349C0.788 7.95122 0.850273 7.96703 0.913802 7.96993C0.977331 7.97284 1.04079 7.96278 1.10031 7.94039C1.15983 7.91799 1.21417 7.88371 1.26002 7.83965L7.33912 2.03066C7.38274 1.98894 7.44077 1.96565 7.50113 1.96565C7.56149 1.96565 7.61953 1.98894 7.66314 2.03066L13.7428 7.83965C13.8324 7.92553 13.9523 7.9724 14.0764 7.96999C14.2005 7.96757 14.3185 7.91606 14.4046 7.82676C14.5845 7.64043 14.5696 7.33281 14.3824 7.15381Z" />
              </g>
              <defs>
                <clipPath id="clip0_83_1917">
                  <rect width="15" height="15" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="grow">
            <a href="/" class="block rounded-lg px-4 py-2 text-sm <%= activePath === "dashboard" ? "text-mainBlack" : "text-gray-400"  %> font-bold tracking-wide"> Dashboard </a>
          </div>
        </div>
      </li>

      <li class="cursor-pointer" onclick="location.href='/forecasting'">
        <div class="flex <%= activePath === "forecasting" ? "bg-white" : "hover:bg-gray-200"  %> rounded-xl drop-shadow-md p-2">
          <div class="flex-none <%= activePath === "forecasting" ? "bg-mainTeal" : "bg-white"  %> rounded-2xl p-2 w-9">

            <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-auto <%= activePath === "forecasting" ? "fill-white" : "fill-mainTeal"  %>">
              <g clip-path="url(#clip0_83_109)">
                <path d="M3.54687 15.0316H2.60937C2.42289 15.0316 2.24405 14.9575 2.11219 14.8257C1.98033 14.6938 1.90625 14.515 1.90625 14.3285V10.1097C1.90625 9.92326 1.98033 9.74442 2.11219 9.61256C2.24405 9.4807 2.42289 9.40662 2.60937 9.40662H3.54687C3.73335 9.40662 3.9122 9.4807 4.04406 9.61256C4.17592 9.74442 4.25 9.92326 4.25 10.1097V14.3285C4.25 14.515 4.17592 14.6938 4.04406 14.8257C3.9122 14.9575 3.73335 15.0316 3.54687 15.0316V15.0316Z" />
                <path d="M10.1094 15.0308H9.17187C8.98539 15.0308 8.80655 14.9567 8.67469 14.8248C8.54283 14.693 8.46875 14.5141 8.46875 14.3276V7.29639C8.46875 7.10991 8.54283 6.93106 8.67469 6.7992C8.80655 6.66734 8.98539 6.59326 9.17187 6.59326H10.1094C10.2959 6.59326 10.4747 6.66734 10.6066 6.7992C10.7384 6.93106 10.8125 7.10991 10.8125 7.29639V14.3276C10.8125 14.5141 10.7384 14.693 10.6066 14.8248C10.4747 14.9567 10.2959 15.0308 10.1094 15.0308V15.0308Z" />
                <path d="M13.3906 15.0312H12.4531C12.2666 15.0312 12.0878 14.9572 11.9559 14.8253C11.8241 14.6934 11.75 14.5146 11.75 14.3281V4.01562C11.75 3.82914 11.8241 3.6503 11.9559 3.51844C12.0878 3.38658 12.2666 3.3125 12.4531 3.3125H13.3906C13.5771 3.3125 13.7559 3.38658 13.8878 3.51844C14.0197 3.6503 14.0937 3.82914 14.0937 4.01562V14.3281C14.0937 14.5146 14.0197 14.6934 13.8878 14.8253C13.7559 14.9572 13.5771 15.0312 13.3906 15.0312V15.0312Z" />
                <path d="M6.82812 15.031H5.89062C5.70414 15.031 5.5253 14.9569 5.39344 14.8251C5.26158 14.6932 5.1875 14.5144 5.1875 14.3279V1.67163C5.1875 1.48515 5.26158 1.30631 5.39344 1.17445C5.5253 1.04258 5.70414 0.968506 5.89062 0.968506H6.82812C7.0146 0.968506 7.19345 1.04258 7.32531 1.17445C7.45717 1.30631 7.53125 1.48515 7.53125 1.67163V14.3279C7.53125 14.5144 7.45717 14.6932 7.32531 14.8251C7.19345 14.9569 7.0146 15.031 6.82812 15.031V15.031Z" />
              </g>
              <defs>
                <clipPath id="clip0_83_109">
                  <rect width="15" height="15" transform="translate(0.5 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="grow">
            <a href="/forecasting" class="block rounded-lg px-4 py-2 text-sm <%= activePath === "forecasting" ? "text-mainBlack" : "text-gray-400"  %> font-bold tracking-wide"> Forecasting </a>
          </div>
        </div>
      </li>

      <li class="cursor-pointer" onclick="location.href='/history'">
        <div class="flex <%= activePath === "history" ? "bg-white" : "hover:bg-gray-200"  %> rounded-xl drop-shadow-md p-2">
          <div class="flex-none <%= activePath === "history" ? "bg-mainTeal" : "bg-white"  %> rounded-2xl p-2 w-9">
            <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-auto <%= activePath === "history" ? "fill-white" : "fill-mainTeal"  %>">
              <g clip-path="url(#clip0_83_109)">
                <path d="M3.54687 15.0316H2.60937C2.42289 15.0316 2.24405 14.9575 2.11219 14.8257C1.98033 14.6938 1.90625 14.515 1.90625 14.3285V10.1097C1.90625 9.92326 1.98033 9.74442 2.11219 9.61256C2.24405 9.4807 2.42289 9.40662 2.60937 9.40662H3.54687C3.73335 9.40662 3.9122 9.4807 4.04406 9.61256C4.17592 9.74442 4.25 9.92326 4.25 10.1097V14.3285C4.25 14.515 4.17592 14.6938 4.04406 14.8257C3.9122 14.9575 3.73335 15.0316 3.54687 15.0316V15.0316Z" />
                <path d="M10.1094 15.0308H9.17187C8.98539 15.0308 8.80655 14.9567 8.67469 14.8248C8.54283 14.693 8.46875 14.5141 8.46875 14.3276V7.29639C8.46875 7.10991 8.54283 6.93106 8.67469 6.7992C8.80655 6.66734 8.98539 6.59326 9.17187 6.59326H10.1094C10.2959 6.59326 10.4747 6.66734 10.6066 6.7992C10.7384 6.93106 10.8125 7.10991 10.8125 7.29639V14.3276C10.8125 14.5141 10.7384 14.693 10.6066 14.8248C10.4747 14.9567 10.2959 15.0308 10.1094 15.0308V15.0308Z" />
                <path d="M13.3906 15.0312H12.4531C12.2666 15.0312 12.0878 14.9572 11.9559 14.8253C11.8241 14.6934 11.75 14.5146 11.75 14.3281V4.01562C11.75 3.82914 11.8241 3.6503 11.9559 3.51844C12.0878 3.38658 12.2666 3.3125 12.4531 3.3125H13.3906C13.5771 3.3125 13.7559 3.38658 13.8878 3.51844C14.0197 3.6503 14.0937 3.82914 14.0937 4.01562V14.3281C14.0937 14.5146 14.0197 14.6934 13.8878 14.8253C13.7559 14.9572 13.5771 15.0312 13.3906 15.0312V15.0312Z" />
                <path d="M6.82812 15.031H5.89062C5.70414 15.031 5.5253 14.9569 5.39344 14.8251C5.26158 14.6932 5.1875 14.5144 5.1875 14.3279V1.67163C5.1875 1.48515 5.26158 1.30631 5.39344 1.17445C5.5253 1.04258 5.70414 0.968506 5.89062 0.968506H6.82812C7.0146 0.968506 7.19345 1.04258 7.32531 1.17445C7.45717 1.30631 7.53125 1.48515 7.53125 1.67163V14.3279C7.53125 14.5144 7.45717 14.6932 7.32531 14.8251C7.19345 14.9569 7.0146 15.031 6.82812 15.031V15.031Z" />
              </g>
              <defs>
                <clipPath id="clip0_83_109">
                  <rect width="15" height="15" transform="translate(0.5 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="grow">
            <a href="/history" class="block rounded-lg px-4 py-2 text-sm <%= activePath === "history" ? "text-mainBlack" : "text-gray-400"  %> font-bold tracking-wide"> History </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>